---
import { Icon } from "astro-icon/components";
import "../styles/main.css";

type GarfringRes = {
  websites: string[];
};

const { websites }: GarfringRes = await (
  await fetch("https://garfring.neocities.org/websites.json")
).json();

const garfringIndex = websites.indexOf("https://srxl.me/");
const prevIndex =
  garfringIndex - 1 === -1 ? websites.length - 1 : garfringIndex - 1;
const garfringPrev = websites[prevIndex] ?? "[none]";
const garfringNext =
  websites[(garfringIndex + 1) % websites.length] ?? "[none]";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/fonts/inter/inter.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#95aed8" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>welcome | srxl.me</title>
    <style>
      html,
      body {
        margin: 0;
        overflow: hidden;
      }

      h1 {
        margin-top: 0;
      }

      .left-block:before {
        content: "";
        z-index: 2;
        position: absolute;
        top: -100vh;
        width: 25vw;
        height: 200vh;
        background-color: #000;
        transform: skewX(9deg);
      }

      .bottom-block:before {
        content: "";
        z-index: 1;
        position: absolute;
        top: calc((100vh - 300px) + 1vw);
        height: 100%;
        width: 100%;
        background-color: #fff;
        transform: skewY(-5deg);
      }

      .tagline {
        width: calc(100% + 48px);
      }
      .icons {
        width: calc(100% + 14vh);
      }
    </style>
  </head>
  <body>
    <main
      class="grid grid-cols-[25vw_1fr] grid-rows-[1fr_300px] w-screen h-screen"
    >
      <div class="left-block bg-black row-span-2">
        <div class="relative h-full flex flex-col z-10 p-8 text-white">
          <hgroup>
            <h1 class="text-h1">hi.<br />i'm ruby.</h1>
            <p class="tagline pt-2 text-h4 italic">welcome to my website.</p>
          </hgroup>

          <nav class="my-8 grow">
            <ul class="flex flex-col gap-4">
              <li>
                <a class="text-h3 underline" href="#">home</a>
                <small class="text-caption">(you are here)</small>
              </li>
              <li>
                <a class="text-h3 text-grey-60 underline" href="#">about me</a>
                <small class="text-caption text-white">coming soon</small>
              </li>
              <li>
                <a class="text-h3 text-grey-60 underline" href="#">blog</a>
                <small class="text-caption text-white">coming soon</small>
              </li>
              <li>
                <a class="text-h3 text-grey-60 underline" href="#">projects</a>
                <small class="text-caption text-white">coming soon</small>
              </li>
              <li>
                <a class="text-h3 text-grey-60 underline" href="#">gallery</a>
                <small class="text-caption text-white">coming soon</small>
              </li>
            </ul>
          </nav>

          <div class="icons flex items-end justify-end gap-4">
            <p class="italic">find me at:</p>
            <a href="https://cohost.org/srxl" rel="me" aria-label="cohost">
              <Icon name="eggbug" title="cohost" size={32} />
            </a>
            <a href="https://github.com/Sorixelle" rel="me" aria-label="github">
              <Icon name="simple-icons:github" title="github" size={32} />
            </a>
            <a
              href="https://matrix.to/#/@ruby:isincredibly.gay"
              rel="me"
              aria-label="matrix"
            >
              <Icon name="simple-icons:matrix" title="matrix" size={32} />
            </a>
            <a
              href="https://keyoxide.org/ruby@srxl.me"
              rel="me"
              aria-label="keyoxide"
            >
              <Icon name="ion:key-sharp" title="keyoxide" size={32} />
            </a>
            <a href="mailto:ruby@srxl.me" rel="me" aria-label="email">
              <Icon name="ion:mail-sharp" title="email" size={32} />
            </a>
          </div>
        </div>
      </div>
      <img
        class="w-full aspect-square mt-0 xl:mt-[-150px] overflow-hidden"
        alt="My avatar"
        src="/img/avatar.png"
      />
      <div class="bottom-block">
        <div class="relative flex flex-col h-full z-10 pr-8 pb-8">
          <h2 class="text-h1 text-right">webrings</h2>
          <div class="flex grow items-end justify-end">
            <div class="flex items-center">
              <a class="mr-4 self-start text-black" href={garfringPrev}>
                <Icon name="mdi:arrow-left" title="previous" size={64} />
              </a>
              <div class="h-32 flex flex-col justify-around items-center">
                <a
                  class="flex items-center text-h5 text-black italic underline"
                  href={garfringPrev}
                >
                  {new URL(garfringPrev).host}
                </a>
                <a
                  class="underline text-black"
                  href="https://garfring.neocities.org/">index</a
                >
                <a
                  class="flex items-center text-h5 text-black italic underline"
                  href={garfringNext}
                >
                  {new URL(garfringNext).host}
                </a>
              </div>
              <a class="ml-4 self-end text-black" href={garfringNext}>
                <Icon name="mdi:arrow-right" title="next" size={64} />
              </a>
            </div>
            <ul class="w-[256px] text-right self-start">
              <li class="text-h3 underline">garfring</li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
