---
import { Icon } from "astro-icon/components";
import "../styles/main.css";

type GarfringRes = {
  websites: string[];
};

type RingLinks = {
  prev: string;
  next: string;
};

function ringLinks(sites: string[], indexUrl: string): RingLinks {
  const index = sites.indexOf("https://srxl.me/");

  const prevIndex = index - 1 === -1 ? sites.length - 1 : index - 1;
  const prev = sites[prevIndex] ?? "[none]";

  const next = sites[(index + 1) % sites.length] ?? "[none]";

  return {
    index: indexUrl,
    prev,
    next,
  };
}

const { websites: garfring }: GarfringRes = await (
  await fetch("https://garfring.neocities.org/websites.json")
).json();

const eggring: string[] = await (
  await fetch("https://chaiaeran.neocities.org/onionring/eggsites.json")
).json();

const webrings = {
  garfring: ringLinks(garfring, "https://garfring.neocities.org"),
  eggring: ringLinks(eggring, "#"),
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/fonts/inter/inter.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#95aed8" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>welcome | srxl.me</title>
    <style>
      html,
      body {
        margin: 0;
        overflow: hidden;
      }

      h1 {
        margin-top: 0;
      }

      .left-block:before {
        content: "";
        z-index: 2;
        position: absolute;
        top: -100vh;
        width: 25vw;
        height: 200vh;
        background-color: #000;
        transform: skewX(9deg);
      }

      .bottom-block:before {
        content: "";
        z-index: 1;
        position: absolute;
        top: calc((100vh - 300px) + 1vw);
        height: 100%;
        width: 100%;
        background-color: #fff;
        transform: skewY(-5deg);
      }

      .tagline {
        width: calc(100% + 48px);
      }
      .icons {
        width: calc(100% + 14vh);
      }
    </style>
  </head>
  <body>
    <main
      class="grid grid-cols-[25vw_1fr] grid-rows-[1fr_300px] w-screen h-screen"
    >
      <div class="left-block bg-black row-span-2">
        <div class="relative h-full flex flex-col z-10 p-8 text-white">
          <hgroup>
            <h1 class="text-h1">hi.<br />i'm ruby.</h1>
            <p class="tagline pt-2 text-h4 italic">welcome to my website.</p>
          </hgroup>

          <nav class="my-8 grow">
            <ul class="flex flex-col gap-4">
              <li>
                <a class="text-h3 underline" href="#">home</a>
                <small class="text-caption">(you are here)</small>
              </li>
              <li>
                <a class="text-h3 text-grey-60 underline" href="#">about me</a>
                <small class="text-caption text-white">coming soon</small>
              </li>
              <li>
                <a class="text-h3 text-grey-60 underline" href="#">blog</a>
                <small class="text-caption text-white">coming soon</small>
              </li>
              <li>
                <a class="text-h3 text-grey-60 underline" href="#">projects</a>
                <small class="text-caption text-white">coming soon</small>
              </li>
              <li>
                <a class="text-h3 text-grey-60 underline" href="#">gallery</a>
                <small class="text-caption text-white">coming soon</small>
              </li>
            </ul>
          </nav>

          <div class="icons flex items-end justify-end gap-4">
            <p class="italic">find me at:</p>
            <a
              class="hover:text-crystal-60"
              href="https://cohost.org/srxl"
              rel="me"
              aria-label="cohost"
            >
              <Icon name="eggbug" title="cohost" size={32} />
            </a>
            <a
              class="hover:text-crystal-60"
              href="https://github.com/Sorixelle"
              rel="me"
              aria-label="github"
            >
              <Icon name="simple-icons:github" title="github" size={32} />
            </a>
            <a
              class="hover:text-crystal-60"
              href="https://matrix.to/#/@ruby:isincredibly.gay"
              rel="me"
              aria-label="matrix"
            >
              <Icon name="simple-icons:matrix" title="matrix" size={32} />
            </a>
            <a
              class="hover:text-crystal-60"
              href="https://keyoxide.org/ruby@srxl.me"
              rel="me"
              aria-label="keyoxide"
            >
              <Icon name="ion:key-sharp" title="keyoxide" size={32} />
            </a>
            <a
              class="hover:text-crystal-60"
              href="mailto:ruby@srxl.me"
              rel="me"
              aria-label="email"
            >
              <Icon name="ion:mail-sharp" title="email" size={32} />
            </a>
          </div>
        </div>
      </div>
      <img
        class="w-full aspect-square mt-0 xl:mt-[-150px] overflow-hidden"
        alt="My avatar"
        src="/img/avatar.png"
      />
      <div class="bottom-block">
        <div class="relative flex flex-col h-full ml-32 z-10 pr-8 pb-8">
          <h2 class="text-h1 text-right">webrings</h2>
          <div
            class="flex grow items-end justify-end"
            id="webrings"
            data-webrings={JSON.stringify(webrings)}
          >
            <div class="flex items-center">
              <a
                id="webring-prev-icon"
                class="mr-4 self-start text-black"
                href={webrings.garfring.prev}
              >
                <Icon name="mdi:arrow-left" title="previous" size={64} />
              </a>
              <div class="h-32 flex flex-col justify-around items-center">
                <a
                  id="webring-prev-text"
                  class="flex items-center text-h5 text-black italic underline hover:text-crystal-40"
                  href={webrings.garfring.prev}
                >
                  {new URL(webrings.garfring.prev).host}
                </a>
                <a
                  id="webring-index"
                  class="underline text-black hover:text-crystal-40"
                  href={webrings.garfring.index}>index</a
                >
                <a
                  id="webring-next-text"
                  class="flex items-center text-h5 text-black italic underline hover:text-crystal-40"
                  href={webrings.garfring.next}
                >
                  {new URL(webrings.garfring.next).host}
                </a>
              </div>
              <a
                id="webring-next-icon"
                class="ml-4 self-end text-black"
                href={webrings.garfring.next}
              >
                <Icon name="mdi:arrow-right" title="next" size={64} />
              </a>
            </div>
            <ul class="w-[256px] text-right self-start">
              {
                Object.keys(webrings).map((name) => (
                  <li class="text-h3 underline">
                    <a
                      href="#"
                      class="text-black"
                      onclick={`selectRing("${name}")`}
                    >
                      {name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </main>

    <script type="text/javascript">
      const webrings = JSON.parse(
        document.getElementById("webrings").dataset.webrings
      );

      function selectRing(name) {
        const webring = webrings[name];

        document
          .getElementById("webring-prev-icon")
          .setAttribute("href", webring.prev);
        document
          .getElementById("webring-next-icon")
          .setAttribute("href", webring.next);
        document
          .getElementById("webring-index")
          .setAttribute("href", webring.index);

        function modifyLink(e, value) {
          e.textContent = value;
          e.setAttribute("href", value);
        }
        modifyLink(document.getElementById("webring-prev-text"), webring.prev);
        modifyLink(document.getElementById("webring-next-text"), webring.next);
      }
    </script>
  </body>
</html>
